.page-header
  = link_to new_bicycle_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Bicycle
  %h1 Listing bicycles

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th
        %th
        %th

    %tbody
      - @bicycles.each do |bicycle|
        %tr
          %td= bicycle.name
          %td= bicycle.description
          %td= link_to 'Show', bicycle
          %td= link_to 'Edit', edit_bicycle_path(bicycle)
          %td= link_to 'Destroy', bicycle, data: { confirm: 'Are you sure?' }, method: :delete
